---
layout: faq-home
title: Help
slug: home
lead: "Find the information you need to make the most of OpenCounter in your community."
base_url: "../"
---


<!-- Overview
================================================== -->
<div class="bs-docs-section">
  {% for post in site.categories.faq %}
  <div class="post_info">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </div>
  {% endfor %}

  {% for post in site.categories.test %}
  <div class="post_info test-faq">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </div>
  {% endfor %}
</div>