---
layout: faq-home
title: Help
slug: home
lead: "Find the information you need to make the most of OpenCounter in your community."
base_url: "../"
---


<!-- Overview
================================================== -->

  <div class="faq-list">
    <div class="col-md-6 faq-column" id="left">
      <div class="faq-section">
        <h3>Supporting Your Users</h3>
        {% for post in site.categories.support %}
        <div class="post_info">
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        {% endfor %}
      </div>
      <div class="faq-section">
        <h3>Metrics & Management</h3>
        {% for post in site.categories.metrics %}
        <div class="post_info">
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6 faq-column" id="right">
      <div class="faq-section">
        <h3>Basic Questions</h3>
        {% for post in site.categories.basic %}
        <div class="post_info">
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        {% endfor %}
      </div>
      <div class="faq-section">
        <h3>Configuring OpenCounter</h3>
        {% for post in site.categories.configuration %}
        <div class="post_info">
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        {% endfor %}
      </div>
      <div class="faq-section">
        <h3>Zoning & Land Use</h3>
        {% for post in site.categories.zoning %}
        <div class="post_info">
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
<!--   </div> -->