  <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="{{ page.base_url }}assets/js/open-counter-help.js"></script>

<script src="{{ page.base_url }}assets/js/holder.js"></script>

<script src="{{ page.base_url }}assets/js/application.js"></script>

<script src="{{ page.base_url }}assets/js/ajw.js"></script>


<!-- Would be nice to have a liquid operation here to prevent loading of extra scripts of pages with no search (Tutorials, Best Practices, Gloassary?) -->
<script src="{{ page.base_url }}assets/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/date.format.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/URI.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>

<script>
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>

<script>
	$(document).on("autocomplete:search:submit", function(){
		$('.faq-list').hide();
	});
  $(document).on("autocomplete:search:noresults", function(){
    $('.faq-list').show();
    $('#search-results').hide();
    console.log("hide search results?");
  });
  $(document).on("autocomplete:search:noresults", function() {
    $('.alert-warning').addClass('alert-dismissable');
    $('.alert-warning').append('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>');
  });
</script>

<!-- Intercom -->
<script id="IntercomSettingsScriptTag">
  window.intercomSettings = {
    // TODO: The current logged in user's full name
    name: "John Doe",
    // TODO: The current logged in user's email address.
    email: "john.doe@example.com",
    // TODO: The current logged in user's sign-up date as a Unix timestamp.
    created_at: 1234567890,
    app_id: "fg8ne4x5"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
