  <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="{{ page.base_url }}assets/js/open-counter-help.js"></script>

<script src="{{ page.base_url }}assets/js/holder.js"></script>

<script src="{{ page.base_url }}assets/js/application.js"></script>

<script src="{{ page.base_url }}assets/js/ajw.js"></script>


<!-- Would be nice to have a liquid operation here to prevent loading of extra scripts of pages with no search (Tutorials, Best Practices, Gloassary?) -->
<script src="{{ page.base_url }}assets/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/date.format.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/URI.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ page.base_url }}assets/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>

<script>
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>

<script>
	$(document).on("autocomplete:search:submit", function(){
		$('.faq-list').hide();
	}); 
    $(document).on("autocomplete:search:noresults", function(){
    	$('.faq-list').show();
    });
</script>
