<li>
  <a href="#support-dashboard">Your Dashboard</a>
  <ul class="nav">
    <li><a href="#overview-dashboard-top-metrics">Top-line Metrics</a></li>
    <li><a href="#overview-dashboard-timeline-map">Timeline and Map</a></li>
    <li><a href="#overview-dashboard-individual-applications">Application Details</a></li>
  </ul>
</li>
<li>
  <a href="#support-application-review">Reviewing Applications</a>
  <ul class="nav">
    <li><a href="#overview-application-metrics">Application Metrics</a></li>
    <li><a href="#overview-application-fees">Fee Calculations</a></li>
    <li><a href="#overview-application-interactions">Paper Trail</a></li>
    <li><a href="#overview-application-forms">Form Downloads</a></li>
    <li><a href="#overview-application-danger-zone">Deleting Applications (Danger Zone)</a></li>
  </ul>
</li>
<li>
  <a href="#support-help-requests">Responding to Help Requests</a>
  <ul class="nav">
    <li><a href="#overview-help-requests">How to Close a Help Requests</a></li>
  </ul>
</li>