<li>
  <a href="#concepts-introduction-to-rules">Using Rules</a>
<!--   <ul class="nav">
    <li><a href="#whats-included-precompiled">Precompiled</a></li>
    <li><a href="#whats-included-source">Source code</a></li>
  </ul> -->
</li>
<li>
  <a href="#concepts-users-and-departments">Users and Departments</a>
</li>
<li>
  <a href="#concepts-fields-to-create-pages">Building Pages and Sections with Fields</a>
</li>
<li>
  <a href="#concepts-fields-to-create-forms">Replicating Forms from Completed Fields</a>
</li>
<li>
  <a href="#concepts-use-codes-and-zoning-districts">Use Codes, Zoning Districts and Zoning Clearances (Permission)</a>
<!--   <ul class="nav">
    <li><a href="#migration-classes">Major class changes</a></li>
    <li><a href="#migration-new">What's new</a></li>
    <li><a href="#migration-dropped">What's removed</a></li>
    <li><a href="#migration-notes">Additional notes</a></li>
  </ul> -->
</li>
<li>
  <a href="#concepts-fees">Using Fees</a>
</li>

