<li>
  <a href="#admin-dashboard-section">Dashboard</a>
</li>
<li>
  <a href="#admin-applications-section">Applications</a>
</li>
<li>
  <a href="#admin-section-section">Sections</a>
</li>
<li>
  <a href="#admin-pages-section">Pages</a>
</li>
<li>
  <a href="#admin-fields-section">Fields</a>
</li>
<li>
  <a href="#admin-forms-section">Forms</a>
</li>
<li>
  <a href="#admin-fees-section">Fees</a>
</li>
<li>
  <a href="#admin-use-codes-section">Use Codes</a>
</li>
<li>
  <a href="#admin-zoning-districts-section">Zoning Districts</a>
</li>
<li>
  <a href="#admin-departments-section">Departments</a>
</li>
<li>
  <a href="#admin-users-section">Users</a>
</li>
<li>
  <a href="#admin-settings-section">Settings</a>
</li>