<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-inner">
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li class="logo"><a href="{{ page.base_url }}" class="navbar-brand"><img src="/assets/img/opencounter-logo.png"></a></li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/sections">Sections</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/pages">Pages</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/fields">Fields</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/cic_codes">Use Codes</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/zoning_districts">Zoning</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/fees">Fees</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/forms">Forms</a>
          </li>
  <!--         <li>
            <a href="http://opencounter.us/admin" target="_blank">Admin Home</a>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class>
            <a href="help.opencounter.us/">Help</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin/accounts">Settings</a>
          </li>
          <li class>
            <a class="subdomain-link" href=".opencounter.us/admin_sign_out">Sign Out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
