<div class="bs-header" id="content">
  <div class="container">
    <div class="header-content">
      <h2>Help</h2>
      <p>Search for a help topic, read a walkthrough, and learn about best practices. If you can't find the help you need,<!-- </br> --> <a href="mailto:hello@opencounter.us">email our support team</a> any time.</p>
    </div>
  </div>
</div>

<!-- This is the button group subnav -->
<!--<div class="header-subnav btn-group btn-group-justified">
      <a class="btn btn-default" role="button" href="{{ page.base_url }}"><h4>Questions</h4></a>
      <a class="btn btn-default" role="button" href="/configuration.html"><h4>Tutorials</h4></a>
      <a class="btn btn-default" role="button" href="/citizens.html"><h4>Best Practices</h4></a>
    </div>-->