  <div class="walkthroughs">
    <h3>Admin Walkthroughs</h3>
    <p class="lead walkthroughs-subhead">Try these page-by-page walkthroughs of the Admin Area of OpenCounter. You'll find helpful videos, best practices, and more.</p>
      <div class="walkthroughs-column col-md-4">
        <ul>
          {% for post in site.categories.walkthrough limit:4 %}
          <li>
            <div class="post_info">
              <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="walkthroughs-column col-md-4">
        <ul>
          {% for post in site.categories.walkthrough limit:4 offset:4 %}
          <li>
            <div class="post_info">
              <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="walkthroughs-column col-md-4">
        <ul>
          {% for post in site.categories.walkthrough limit:4 offset:8 %}
          <li>
            <div class="post_info">
              <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>