<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Meta, title, CSS -->
  	{% include header.html %}
  </head>
  <body>
  	<a class="sr-only" href="#content">Skip to main content</a>

  	{% include nav-main.html %}

  	<div class="container bs-docs-container faq-container">
      {% include search.html %}
  		<div class="row">
  			<div class="col-md-12 faq-content" role="main">
          {% include breadcrumbs.html %}
  				{{ content }}
  			</div>
  		</div>
      {% include related-posts.html %}
  	</div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p class="contact-info">
              <strong>Contact Info</strong>
              <br />
              <a href="https://twitter.com/opencounter" class="white">@opencounter</a>
              <br />
              <a href="mailto:hello@opencounter.us" class="white">hello@opencounter.us</a>
              <br />
              (415) 573-2407
            </p>
          </div>
          <div class="col-md-8">
          <div class="container text-center">
            <br />
            <small><em>©2013 Open Counter Enterprises Inc. &mdash; handmade in California Photo by <a href="http://www.flickr.com/photos/10384720@N00/" class="white">Jeff Kessler</a> • Map by <a href="https://twitter.com/mapbox" class="white">@mapbox</a> • Design by <a href="https://twitter.com/angelk" class="white">@angelk</a></em></small>
          </div>
        </div>
      </div>
    </div>
  </footer>

    {% include footer.html %}

  </body>
</html>